:root {
	--container-width: 1460px;
	--container-padding: 10px;

	--font-main: 'Plus Jakarta Sans', sans-serif;

	--white: #fff;
	--black: #000;
	--black-logo: #181818;
	--grey: #2C2C2C;
	--bg-grey: #282828;
	--orange: #FE5F1E;
	--yellow: #FFDF8C;
	--light-grey-f3: #F3F3F3;
	--light-grey-f9: #F9F9F9;
	--grey-7b: #7B7B7B;
}

.dark {}