.common-button{
   border-radius: 30px;
   transition: all 0.3s ease;
   @include adaptiveValue('padding-top', 16, 10);
   @include adaptiveValue('padding-bottom', 16, 10);
   @include adaptiveValue('padding-left', 30, 20);
   @include adaptiveValue('padding-right', 30, 20);
}

.goback__btn--active{
   background: var(--bg-grey);
   color: var(--white);
   &:hover{
      background: #000;
   }
}
.goback__btn--outlined{
   border: 1px solid #D3D3D3;
   color: #CACACA;
}
.pay-btn{
   background: var(--orange);
   color: var(--white);
}