.cart {
   max-width: 820px;
   margin: 0 auto;
   @include adaptiveValue('margin-top', 20, 10);

   &__top {
      @include adaptiveValue('padding-top', 30, 10);
      @include adaptiveValue('padding-bottom', 30, 10);
      border-bottom: 1px solid #F4F4F4;
   }

   &__total {
      margin: 10px 0px 40px;
   }
}

.top-cart {
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__title {
      display: flex;
      align-items: center;
      gap: 17px;
      @include adaptiveValue('gap', 17, 10);
      svg{
         width: 35px;
         height: 35px;
         @media (max-width: 475px){
            display: none;
         }
      }

      &-text {
         @include adaptiveValue('font-size', 32, 26);
         font-weight: 700;
         letter-spacing: 0.32px;
      }
   }

   &__clear {
      display: flex;
      align-items: center;
      gap: 7px;
      svg{
         @include adaptiveValue('width', 30, 25);
         @include adaptiveValue('height', 30, 25);
      }

      &-text {
         font-size: 16px;
         color: #B6B6B6;
         @media (max-width: 475px){
            display: none;
         }
      }
   }
}

.order-cart {
   &__item {
      @include adaptiveValue('padding-top', 30, 15);
      @include adaptiveValue('padding-bottom', 30, 15);
      border-bottom: 1px solid #F4F4F4;
   }
}

.item-order {
   &__info {
      flex: 0 1 50%;
      @media (max-width: 768px){
         flex: 1 1 70%;
         order: 1;
      }
   }
   &__quantity{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 1 30%;
      @media (max-width: 768px){
         order: 3;
         flex: 0 1 100%;
      }
   }

   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px){
         flex-wrap: wrap;
         column-gap: 20px;
         row-gap: 20px;
      }
      
   }

   &__delete {
      @media (max-width: 768px){
         flex: 0 1 30px;
         order: 2;
         align-self: flex-start;
      }

      circle,
      path {
         transition: all 0.3s ease;
      }

      &:hover {
         circle {
            stroke: var(--orange);
         }

         path {
            fill: var(--orange);
         }
      }
   }
}

.info-item {
   &__inner {
      display: flex;
      gap: 15px;
      align-items: center;
      @media (max-width: 475px){
         flex-direction: column;
         gap: 5px;
         align-items: flex-start;
      }
   }

   &__image {
      max-width: 80px;
      align-self: flex-start;
   }

   &__name {
      @include adaptiveValue('font-size', 22, 18);
      font-weight: 700;
      letter-spacing: 0.22px;
   }

   &__type {
      color: #8D8D8D;
      font-size: 18px;
      @include adaptiveValue('font-size', 18, 14);
      letter-spacing: 0.18px;
      padding: 3px 0px;

      &-count {
         display: inline-block;
         background: var(--orange);
         color: var(--white);
         border-radius: 14px;
         padding: 3px;
         width: 40px;
         @include adaptiveValue('font-size', 16, 14);
         text-align: center;
         margin-left: 10px;
      }
   }
}

.controlls-item {
   &__inner {
      display: flex;
      align-items: center;
      gap: 12px;
      svg{
         cursor: pointer;
      }
   }
   &__minus{
      &.disabled{
         cursor: not-allowed;
      }
   }

   &__count {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0.22px;
   }
}

.price-item {
   &__inner {
      display: flex;
      align-items: center;
      gap: 4px;
   }

   &__icon {
      width: 20px;
      height: 20px;
   }

   &__cost {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0.22px;
   }
}

.actions-cart {
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 475px){
         flex-direction: column;
         gap: 15px;
      }
   }

   &__goback-btn {
      display: flex;
      @include adaptiveValue('gap', 16, 8);
      align-items: center;
   }
}

.total-cart {
   &__inner {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__total-count {
      @include adaptiveValue('font-size', 22, 18);
      letter-spacing: 0.22px;

      span {
         font-weight: 700;
      }
   }

   &__total-sum {
      @include adaptiveValue('font-size', 22, 18);
      letter-spacing: 0.22px;
      display: flex;
      align-items: center;
      gap: 4px;

      span {
         font-weight: 700;
         color: var(--orange);
      }
   }

   &__sum-icon {
      @include adaptiveValue('width', 20, 15);
      @include adaptiveValue('height', 20, 15);
   }
}