.pagination{
   padding-top: 50px;
   @include adaptiveValue('padding-top', 50, 30);
   &__list{
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiveValue('gap', 20, 10);
   }
   &__item{
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--white);
      color: var(--black);
      font-size: 18px;
      @include adaptiveValue('font-size', 18, 14);
      width: 50px;
      height: 45px;
      border-radius: 14px;
      border: 2px solid var(--orange);
      cursor: pointer;
      transition: all 0.3s ease;
      @media (max-width: 600px){
         width: 30px;
         height: 30px;
         padding: 0;
         border-radius: 8px;
      }
      &.selected{
         background: var(--orange);
         color: var(--white);
      }
      &:hover{
         border: 2px solid var(--black);
      }
   }
   &__btn{
      background: var(--black);
      color: var(--white);
      @include adaptiveValue('font-size', 18, 14);
      padding: 6px 20px;
      border-radius: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      @media (max-width: 600px){
         padding: 4px 10px;
      }
      @media (max-width: 375px){
         display: none;
      }
      &:hover{
         opacity: 0.7;
      }
      &:disabled{
         opacity: 0.7;
         cursor: not-allowed;
      }
   }
}