.pizza-product {
   &__image {
      padding: 40%;
      position: relative;
      @include adaptiveValue('margin-bottom', 11, 5);

      @media (max-width: 600px) {
         padding: 30%;
         margin-bottom: 10px;
      }

      img {
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &__name {
      color: var(--black);
      font-weight: 800;
      letter-spacing: 0.2px;
      text-align: center;
      @include adaptiveValue('font-size', 20, 16);
      @include adaptiveValue('margin-bottom', 22, 12);
   }

   &__customize {
      padding: 7px 6px;
      border-radius: 10px;
      background: var(--light-grey-f3);
      margin-bottom: 17px;
   }

   &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
         position: absolute;
         right: -18px;
         top: 4px;
         width: 16px;
         height: 16px;
      }
   }
}

.customize-pizza {
   &__specious {
      display: flex;
      justify-content: space-between;
      gap: 6px;
      margin-bottom: 7px;

      li {
         cursor: pointer;
         color: var(--grey);
         font-weight: 700;
         letter-spacing: 0.21px;
         font-size: 14px;
         flex: 1 1 50%;
         text-align: center;
         padding: 13px;
         border-radius: 5px;

         &.active {
            background: var(--white);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
         }

         &.disabled {
            opacity: 0.4;
            pointer-events: none;
         }
      }

   }

   &__size {
      display: flex;

      li {
         cursor: pointer;
         color: var(--grey);
         font-weight: 700;
         letter-spacing: 0.21px;
         font-size: 14px;
         text-align: center;
         flex: 1 1 33.333%;
         padding: 13px;
         border-radius: 5px;

         &.active {
            background: var(--white);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
         }

         &.disabled {
            opacity: 0.4;
            pointer-events: none;
         }
      }
   }
}

.actions-pizza {
   &__price {
      color: var(--black);
      @include adaptiveValue('font-size', 22, 16);
      font-weight: 700;
      letter-spacing: 0.33px;
      position: relative;
   }

   &__btn {
      display: flex;
      gap: 9px;
      border: 1px solid var(--orange);
      background: var(--white);
      padding: 11px 14px 14px 17px !important;

      &:hover {
         transition: all 0.4s ease;
         background: var(--orange);
         color: var(--white);
      }

      &-text {
         transition: all 0.4s ease;
         font-size: 16px;
         @include adaptiveValue('font-size', 16, 14);
         font-weight: 700;
         padding-left: 20px;
         color: var(--orange);
         position: relative;

         &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url('../../assets/img/icons/plus.svg') 0 0 no-repeat;
            width: 12px;
            height: 12px;
            transition: all 0.4s ease;
         }
      }

      &-count {
         transition: all 0.4s ease;
         display: inline-block;
         margin-left: 5px;
         border-radius: 50%;
         width: 22px;
         height: 22px;
         opacity: 1;
         background: var(--orange);

         span {
            transition: all 0.4s ease;
            color: var(--white);
            font-size: 14px;
            display: inline-block;
            transform: translate(0, 2px);
         }

         &.active {
            width: 0;
            height: 0;
            opacity: 0;
         }
      }
   }

}

.actions-pizza__btn:hover .actions-pizza__btn-text {
   color: #fff;

   &:before {
      background-image: url('../../assets/img/icons/plus-white.svg');
   }
}

.actions-pizza__btn:hover .actions-pizza__btn-count {
   background: var(--white);

   span {
      color: var(--orange);
   }

}